<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gz_odom_pub_hw_component" params="prefix">
    <ros2_control name="gz_odom_pub" type="sensor">
      <hardware>
        <plugin>gz_odom_pub_hw_component/GzOdomPubHwComponent</plugin>
        <param name="odom_topic_name">/model/bluerov2/odometry</param>
        <param name="ref_frame_name">ned</param>
      </hardware>
    </ros2_control>
  </xacro:macro>
</robot>
